* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  
  body {
    background-color: #2a2833;
    width: 100vw;
    height: 100vh;
  }
  .container__navbar {
    height: 14vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .container__navbar a {
    text-decoration: none;
    color: rgb(107, 103, 129);
    font-size: 1.1rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
  }
  .container__navbar a .container__image {
    border-radius: 50%;
    height: 10vh;
    box-shadow: 0 0 0.9rem 2px;
  }
  .container__navbar a .container__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    filter: saturate(130%), brightness(120%) contrast(130%);
  }
  
  .main {
    width: 100%;
    height: 86vh;
  }
  .main .main__icons {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .main .main__icons .main__left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
  }
  .main .main__icons .main__left img {
    width: auto;
    height: 100%;
    animation: body-rotate 2s ease-in-out 0s infinite;
    filter: saturate(130%), brightness(120%) contrast(130%);
    object-fit: cover;
  }
  @keyframes body-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(160deg);
    }
  }
  .main .main__icons .main__right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
  }
  .main .main__icons .main__right a {
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem #000;
  }
  .main .main__icons .main__right a i {
    background-color: #ddd;
    padding: 0.5em;
    border-radius: 50%;
    font-size: 1.3rem;
    filter: saturate(130%), brightness(120%) contrast(130%);
  }
  .main .main__icons .main__right a .fa-github,
  .main .main__icons .main__right a .fa-codepen {
    color: #000;
  }
  .main .main__icons .main__right a .fa-youtube {
    color: red;
  }
  .main .main__icons .main__right a .fa-linkedin {
    color: #216e91;
  }
  .main .main__search {
    width: 80%;
    height: 15%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .main .main__search .main__left {
    height: 100%;
    width: 60%;
    padding: 2.5rem;
    display: flex;
  }
  .main .main__search .main__left input {
    height: 2.4rem;
    width: 30vw;
    background-color: #3d3c4a;
    outline: none;
    padding-left: 0.5rem;
    border-radius: 4px;
    border: none;
    color: #ddd;
    font-size: 1.2rem;
    box-shadow: 0 0 0.1rem;
  }
  .main .main__search .main__left input::placeholder {
    color: #ddd;
  }
  .main .main__search .main__left button {
    height: 2.4rem;
    background-color: #3d3c4a;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    box-shadow: 0 0 0.1rem;
  }
  .main .main__search .main__left button i {
    color: #ddd;
    font-size: 1.2rem;
    text-shadow: 0 0 0.1rem;
  }
  .main .main__search .main__right {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .main .main__search .main__right h2 {
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 2.2rem;
    text-shadow: 0 0 2rem lightseagreen;
    filter: drop-shadow(1px 1px 1rem lightseagreen);
  }
  .main .main__search .main__right h2 span {
    color: red;
    font-size: 2.5rem;
    font-weight: 900;
  }
  .main .main__links {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
  }
  .main .main__links a {
    text-decoration: none;
  }
  .main .main__links a div {
    padding: 1.5rem;
    background-color: #3d3c4a;
    color: #ddd;
    box-shadow: 0 0 0.5rem #000;
  }
  .main .main__links a div i {
    font-size: 1.2rem;
    padding: 0px 1rem;
  }
  .main .main__links a div .fa-github,
  .main .main__links a div .fa-codepen {
    color: #000;
  }
  .main .main__links a div .fa-youtube {
    color: red;
  }
  .main .main__links a div .fa-linkedin, .main .main__links a div .fa-twitter {
    color: #216e91;
  }
  
  /*# sourceMappingURL=style.css.map */
  